<div class="four wide column">
  <div class="ui left aligned blue segment">
    <div class="ui relaxed divided selection list">
      {{#if model.length}}
        {{#each model as |task|}}
          <div class="task item">{{ui-checkbox checked=task.isComplete}} {{task.title}}</div>
        {{/each}}
      {{else}}
        <div id="blankslate">No tasks left!</div>
      {{/if}}
    </div>
  </div>
</div>
