<div class="ui left aligned segment">
  <div class="ui relaxed divided selection list">
    {{#if tasks.length}}
      {{#each tasks as |task index|}}
        <div class="task item">
          {{ui-checkbox checked=task.isComplete
                        onChange=(action "toggleComplete" task)
                        label=task.title}}
          <span class="ui right floated {{if 'green' 'blue'}} label">Tag</span>
        </div>
      {{/each}}
    {{else}}
      <div id="blankslate">No tasks left!</div>
    {{/if}}
  </div>
</div>
